@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

body {
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-position: 50% 70px;
    background-attachment: fixed;
    background-size: contain;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
}



form {
    display: flex;
    flex-direction: column;
    postion: relative;
    width: 280px;
}

.form-single {
    width: 650px;
}

a {
    margin-top: 0;
    color: white;
    margin-bottom: 0;
    text-decoration: none;
    font-size: 28px;
    align-self: center;
}

.underline {
    width: 220px;
    margin-top: 15px;
    margin-bottom: 25px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(177, 177, 177, 0.85), rgba(0, 0, 0, 0));
}

a > span {
    align-self: center;
}


p {
    margin: 0;
    margin-bottom: 15px;
    color: white;
    font-size: 16px;
    max-width: 280px;
    text-align: center;
}

.separate {
    align-self: center;
}

.error {
    color: #ff4b4b;
    font-size: 13px;
    margin: 0;
    font-weight: bold;
    align-self: center;
    margin-bottom: 15px;
}


input {
    height: 28px;
    border: 0;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,.6);
}

input[type="submit"] {
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #00569e;
    padding: 0;
    border: 0;
    /*letter-spacing: 1.5px;*/
    height: 35px;
}

input[value="Enter game"] {
    margin-top: 15px;
}

label {
    font-size:13px;
    color: white;
    margin-bottom: 10px;
    margin-top: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    background-color: #222;
    padding: 10px;
}

button {
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,.6);
}


.button {
    margin: 0 0 15px 0;
    background-color: #00569e;
    min-width: 280px;
    height: 35px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,.6);
    
}

a.button {
    margin-top: 15px;
}

.icon-btn {
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35px;
    color:white;
    box-shadow: none;
}

#remove {
    margin-right: 15px;
}

#add {
    margin-bottom: 15px;
}

.player {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 2px solid #222;
}

#red {
    background-color: #e06666;
}

#blue {
    background-color: #6fa8dc;
}

#yellow {
    background-color: #ffd966;
}

#green {
    background-color: #93c47d;
}

#purple {
    background-color: #8e7cc3;
}

.button-back {
    background-color: #f37035;
    height: 25px;
    width: 80px;
    align-self: flex-start;
    font-size: 13px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 0;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,.6);
    
}


.container-single {
    
}

.column {
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.column2 {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flag-field-single {
    
    align-self: center;
}

.a-single {
    margin-top: 0;
    color: white;
    margin-bottom: 0;
    text-decoration: none;
    font-size: 28px;
    align-self: center;
}

.hr-single {
    margin-bottom: 10px;
}

.header-single {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.username-single {
    margin-bottom: 0;
    color: #4b91fd;
}

.give-up-single {
    border: none;
    width: 100px;
    height: 30px;
    color: white;
    background-color: #ec2424;
    font-size: 16px;
    font-weight: bold;
}

.progress-single {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.h2-single {
    color: white;
    margin-top: 0;    
}

.progress-bar-single {
    height: 5px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;    
}

.progress-bar-progressed-single {
    height: 100%;
    width: 100px;
    background-color: #6aa84f;    
}

.score-single {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;    
}

.total-single {
    margin: 0;
    margin-bottom: 15px;
    color: white;
    font-size: 16px;
    max-width: 280px;
    text-align: center;    
}

.points-single {
    margin: 0;
    margin-bottom: 15px;
    color: white;
    font-size: 16px;
    max-width: 280px;
    text-align: center;    
}

.textarea-single {
    height: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;    
}

.buttons-single {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    font-weight: bold;
    font-size: 20px;    
}

.skip-single {
    height: 30px;
    width: 80px;
    color: white;
    background-color: #6aa84f;
    border: none;
    font-weight: bold;
    font-size: 16px;    
}

.submit-single {
    height: 30px;
    width: 100px;
    color: white;
    background-color: #1b59ff;
    border: none;
    font-weight: bold;
    font-size: 16px;    
}

.incorrect-answers-single {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.incorrect-single {
    margin-bottom: 10px;
    font-size: 18px;
    color: #f53434;    
}

.answers-single {
    margin: 0;
    margin-bottom: 15px;
    color: white;
    font-size: 16px;
    max-width: 280px;
    text-align: center;    
}

img {
    max-height: 300px;
}

.question1 {
    width: 5%;
}

.question2 {
    width: 10%;
}

.question3 {
    width: 15%;
}

.question4 {
    width: 20%;
}

.question5 {
    width: 25%;
}

.question6 {
    width: 30%;
}

.question7 {
    width: 35%;
}

.question8 {
    width: 40%;
}

.question9 {
    width: 45%;
}

.question10 {
    width: 50%;
}

.question11 {
    width: 55%;
}

.question12 {
    width: 60%;
}

.question13 {
    width: 65%;
}

.question14 {
    width: 70%;
}

.question15 {
    width: 75%;
}

.question16 {
    width: 80%;
}

.question17 {
    width: 85%;
}

.question18 {
    width: 90%;
}

.question19 {
    width: 95%;
}

.question20 {
    width: 100%;
}

.win-screen {
    background-color: #222222;
    border: 2px solid rgba(255, 255, 255, .5);
    width: 360px;
    height: 300px;
    position: fixed;
    margin-left: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.won {
    font-size: 28px;
}

.final-score {
    font-size: 16px;
}

.buttons-win {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.button-win {
    margin-bottom: 15px;
    margin: 0 0 15px 0;
    background-color: #00569e;
    min-width: 280px;
    height: 35px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: white;
}

.leaderboard-single {
    margin-bottom: 0;
}

.leaderboard-header {
    display: flex;
    flex-direction: row;
    height: 35px;
    background-color: #1b59ff;
    border-bottom: 3px solid #222222;
}

.col {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.col.two {
    width: 100%;
    display: flex;
    padding-left: 20px;
    padding-right: 0;
    border-left: 3px solid #222222;
}

.col.three {
    width: 100px;
    justify-content: center;
    border-left: 3px solid #222222;
}

.col.one {
    width: 80px;
    justify-content: center;
}

.leaderboard-p {
    margin-bottom: 0;
    align-self: center;
    font-weight: bold;
}

.player-field {
    display: flex;
    flex-direction: row;
    height: 35px;
    background-color: #424242;
    border-bottom: 3px solid #222222;
}

.player-field.highlight {
    background-color: #1b59ff;
}

.player-field.light {
    background-color: #a5a5a5;
}

.player-field.light.highlight {
    background-color: #1b59ff;
}

.player-field .leaderboard-p {
    font-weight: normal;
}

.player-field.highlight .leaderboard-p {
    font-weight: bold;
    color: #ffd966;
}

.player-field.light.highlight .leaderboard-p {
    font-weight: bold;
    color: #ffd966;
}










