{% extends 'base.html' %}
{% block content %}
  <form class="nav game_add_players" method="POST">
    {% include "title.html" %}
    <p class="info">Add players</p>
    {% if username_error %}
      <p class="error">{{ username_error }}</p>
    {% elif number_of_players_error %}
      <p class="error">{{ number_of_players_error }}</p>
    {% endif %}
      <input class="input_field" type="text" name="username" placeholder="username" maxlength="15" required>
      <button type="submit" name="username" id="add" class="icon_btn hvr-icon-grow">
        <i class="fas fa-plus hvr-icon"></i>
      </button>
      {% for player in player_list %}
        {% if loop.index == 1 %}
          <div id="blue" class="player">
            {{ player.username }}
            <button type="submit" name="0" id="remove" class="icon_btn hvr-icon-grow" formnovalidate>
              <i class="fas fa-minus hvr-icon"></i>
            </button>
          </div>
        {% elif loop.index == 2 %}
          <div id="green" class="player">
            {{ player.username }}
            <button type="submit" name="1" id="remove" class="icon_btn hvr-icon-grow" formnovalidate>
              <i class="fas fa-minus hvr-icon"></i>
            </button>
          </div>
        {% elif loop.index == 3 %}
          <div id="yellow" class="player">
            {{ player.username }}
            <button type="submit" name="2" id="remove" class="icon_btn hvr-icon-grow" formnovalidate>
              <i class="fas fa-minus hvr-icon"></i>
            </button>
          </div>
        {% elif loop.index == 4 %}
          <div id="red" class="player">
            {{ player.username }}
            <button type="submit" name="3" id="remove" class="icon_btn hvr-icon-grow" formnovalidate>
              <i class="fas fa-minus hvr-icon"></i>
            </button>
          </div>
        {% elif loop.index == 5 %}
          <div id="purple" class="player">
            {{ player.username }}
            <button type="submit" name="4" id="remove" class="icon_btn hvr-icon-grow" formnovalidate>
              <i class="fas fa-minus hvr-icon"></i>
            </button>
          </div>
        {% endif %}
      {% endfor %}
      <input class="input_button hvr-fade" type="submit" name="action" value="Enter game" formnovalidate>
      <a href="{{ url_for('createRoom') }}" class="button_back"><span class="button_text">Go back</span></a>
  </form>
{% endblock %}