<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guess The Flag</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/main.css") }}">
</head>

<body>
    <div class="container container-single">
        <div class="column">
            <a class="a-single" href="{{ url_for('index') }}">Guess The Flag</a>
            <hr class="underline ht-single">
            {% block content %}
            {% endblock %}
        </div>
        {% block column %}
        {% block column_content %}
        {% endblock %}
        {% endblock %}
    </div>
    

</body>

</html>
