{% extends 'base.html' %}
{% block content %}
    <form class="game" method="POST">
        <div class="row one">
            <div class="game_header">
                <h2 class="count">Question {{ question_number }} of 20</h2>
            </div>
            <div class="game_progress">
                <div class="game_progress_row">
                    <p class="username">{{ username }} is playing...</p>
                    <button class="give_up hvr-grow" name="give-up" formnovalidate>Give up</button>
                </div>
                <div class="progress_bar">
                    <div class="progressed question{{ question_number}}"></div>
                </div>
            </div>
            <div class="game_score">
                <p class="score">Score: {{ score }}</p>
                <p class="points">Remaining points: {{ round_points }}</p>
            </div>
        </div>
        <img src="{{ flag_url }}" alt="current-flag">
        
        <div class="row two">
            <input type="text" class="answer_field" name="answer" autocomplete="off" required/>
            <div class="game_buttons">
                <button class="skip hvr-grow" name="skip" formnovalidate>Skip</button>
                <button class="submit_answer hvr-grow" name="answer">Submit</button>
            </div>
            {% if incorrect_answers|length > 0 %}
            <!-- Only display if list contains an element -->
                <div class="incorrect_answers">
                    <h4 class="heading">Incorrect answer(s)</h4>
                    {% for answer in incorrect_answers %}
                        <p class="answer">{{ answer }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}
