{% extends 'base.html' %}
{% block content %}
    <form class="leaderboard" method="POST">
        <h2 class="heading">Leaderboard</h2>
        <hr class="title_underline">
        {% if win == "won" %}
            <div class="win_window">
                <p>Well done {{ username }}, you've won!</p>
                <p>You final score is {{ score }} and it took you {{ time }} seconds to complete the game</p>
                <div class="buttons">
                    <button class="play_again" name="play-again">Play again</button>
                    <button class="continue" name="continue">Continue</button>
                </div>
            </div>
        {% elif win == "lost" %}
            <div class="win_window">
                <p>Better luck next time {{ username }}</p>
                <p>You final score is {{ score }} and you played the game for {{ time }} seconds</p>
                <div class="buttons">
                    <button class="play_again" name="play-again">Play again</button>
                    <button class="continue" name="continue">Continue</button>
                </div>
            </div>
        {% endif %}
        <div class="leaderboard_header">
            <div class="col one"><p>Rank</p></div>
            <div class="col two"><p>Players</p></div>
            <div class="col three"><p>Score</p></div>
        </div>
        {% for player in top_ten %}
            {% if player.username == username %}
                <div class="player_field highlight">
                    <div class="col one"><p>{{ player.rank }}</p></div>
                    <div class="col two"><p>{{ player.username }}</p></div>
                    <div class="col three"><p>{{ player.score }}</p></div>
                </div>
            {% else %}
                {% if loop.last %}
                    <div class="player_field last">
                        <div class="col one"><p>{{ player.rank }}</p></div>
                        <div class="col two"><p>{{ player.username }}</p></div>
                        <div class="col three"><p>{{ player.score }}</p></div>
                    </div>
                {% else %}
                    <div class="player_field">
                        <div class="col one"><p>{{ player.rank }}</p></div>
                        <div class="col two"><p>{{ player.username }}</p></div>
                        <div class="col three"><p>{{ player.score }}</p></div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        <a href="{{ url_for('gameMenu', username=username) }}" class="button_back"><span class="button_text">Back to menu</span></a>
    </form>
{% endblock %}

