{% extends 'base.html' %}
{% block content %}
<p>Add players</p>
<form id="players" method="POST">
    <input type="text" name="username" placeholder="username" maxlength="15" required>
    {% if username_error %}
    <p class="error">{{ username_error }}</p>
    {% endif %}
    {% if number_of_players_error %}
    <p class="error">{{ number_of_players_error }}</p>
    {% endif %}
    <button type="submit" name="username" id="add" class="icon-btn">
      <i class="fas fa-plus"></i>
    </button>
    {% for player in player_list %}
    {% if loop.index == 1 %}
    <div id="blue" class="player">{{ player.username }}</div>
    {% elif loop.index == 2 %}
    <div id="red" class="player">{{ player.username }}</div>
    {% elif loop.index == 3 %}
    <div id="yellow" class="player">{{ player.username }}</div>
    {% elif loop.index == 4 %}
    <div id="green" class="player">{{ player.username }}</div>
    {% elif loop.index == 5 %}
    <div id="purple" class="player">{{ player.username }}</div>
    {% endif %}
    {% endfor %}
    {% if player_list|length > 0 %}
    <button type="submit" name="remove_player" id="remove" class="icon-btn" formnovalidate>
      <i class="fas fa-minus"></i>
    </button>
    {% endif %}
    <input type="submit" name="action" value="Enter game">
</form>
<a href="{{ url_for('index') }}" class="button-back"><span>Go back</span></a>
    
{% endblock %}