{% extends 'base.html' %}
{% block content %}
    <form class=" nav game_sign_up" method="POST">
        {% include "title.html" %}
        <p class="info">Choose your username and password</p>
        {% if username_error %}
        <!-- Error to display in case player with chosen username already exists -->
            <p class="error">{{ username_error }}</p>
        {% endif %}
        <input class="input_field" type="text" name="username" id="username" placeholder="username" maxlength="15" required>
        <input class="input_field" type="password" name="password" id="password" placeholder="password" required>
        <input class="input_button" type="submit" name="action" value="Create user">
        <a href="{{ url_for('signIn') }}" class="button_back"><span class="button_text">Go back</span></a>
    </form>
{% endblock %}