{% extends 'base.html' %}
{% block content %}
    <form class="nav game_sign_in" method="POST">
        {% include "title.html" %}
        <p class="info">Enter game as an existing user:</p>
        {% if password_error %}
            <p class="error">{{ password_error }}</p>
        {% elif username_error %}
            <p class="error">{{ username_error }}</p>
        {% endif %}
        <input class="input_field" type="text" name="username" placeholder="username" maxlength="15" required>
        <input class="input_field" type="password" name="password" placeholder="password" required>
        <input class="input_button" type="submit" name="enter-game" value="Enter game">
        <p class="separator">or</p>
        <input class="input_button" type="submit" name="new-user" value="Create new user" formnovalidate>
        <a href="{{ url_for('index') }}" class="button_back"><span class="button_text">Go back</span></a>
    </form>
{% endblock %}