@import "variables";

/* Mixins */
@mixin btn($background-color) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: bold;
    text-decoration: none;
    background-color: $background-color;
    box-shadow: $button_shadow;
    border: none;
}

@mixin btn_size($height) {
    width: 90%;
    max-width: 360px;
    height: $height;
}

button {
    color: $white;
    font-size: 1em;
    box-shadow: $button_shadow;
    
    &.button {
        @include btn($blue);
        @include btn_size(35px);
    }
    
    &.give_up {
        border: none;
        width: 100px;
        height: 30px;
        background-color: $red;
        font-weight: bold;
        cursor: pointer;
    }
}

a.button_back {
    @include btn($orange);
    @include btn_size(30px);
    margin-top: 30px;
}

.game_buttons {
    button {
        height: 30px;
        border: none;
        font-weight: bold;
    }
    
    .skip {
        width: 80px;
        background-color: $green;
        cursor: pointer;
    }
                    
    .submit_answer {
        width: 100px;
        background-color: $blue;
        cursor: pointer;
    }
}

.leaderboard {
    .button_back {
        width: 100%;
        margin: 30px auto;
        cursor: default;
        
        @media only screen and (min-width: 1025px) {
            margin-bottom: 0;
        }
    }
}

.buttons button {
    @include btn($blue);
    min: {
        width: 280px;
        height: 30px;
    }
    margin-bottom: 15px;
}

.button_text {
    color: $white;
    align-self: center
}

.icon_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
  	    -ms-flex-align: center;
  	        align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px;
    border: none;
    color: $white;
    background: none;
    box-shadow: none;
}

.input_button {
    color: $white;
    background-color: $blue;
        
    &:first-of-type {
        margin-bottom: 25px;
    }
        
    &:nth-of-type(3) {
        margin-top: 25px;
    }
}