@import "variables";

input {
    height: 35px;
    width: 90%;
    max-width: 360px;
    border: 0;
    padding: 0;
    text-align: center;
    font: {
        weight: bold;
        size: 1em;
    }
    box-shadow: $button_shadow;
}
    
.input_button {
    color: $white;
    background-color: $blue;
        
    &:first-of-type {
        margin-bottom: 25px;
    }
        
    &:nth-of-type(3) {
        margin-top: 25px;
    }
}
    
.input_field {
    font-weight: normal;
    margin-bottom: 25px;
    // box-shadow: none;
}
    
.answer_field {
    width: 100%;
}
