/* Colors */
$background: rgba(27, 41, 41, 0.9);
$white: #FBFBFB;

$blue: #3e92cc;
$light_blue: #285D82;

$orange: #ee8434;
$light_orange: #985422;

$red: #F03A47;
$light_red: #99252E;

$green: #80b954;
$light_green: #527636;

$highlight: #3E92CC;
$player_field_text: #2b2b2b;

$border: #658080;

$player_colors: (("blue", #3e92cc), ("green", #80b954), ("yellow", #ffd966), ("red", #F03A47), ("purple", #8e7cc3));

/* Shadow for buttons */
$button_shadow: 2px 2px 2px 0px rgba(0,0,0,.6);