@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
@import "inputs", "variables", "buttons", "hover-effects";

/* Mixins */
@mixin flex_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
}

@mixin flex_column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
}

@mixin leaderboard_orientation_size {
    @include flex_column;
    color: $white;    
    width: 90%;
    margin: {
        right: auto;
        left: auto;
    }
    padding-top: 25px;
}

/* General app styles */
body {
    background: {
        image: url("../images/map.png");
        repeat: no-repeat;
        position: center 30px;
        attachment: fixed;
        size: 300%; 
    }
    
    @media only screen and (min-width: 1025px) {
        background-size: contain;
    }
    
    @include flex_row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font: {
        family: 'Roboto', sans-serif;
        size: 16px; 
    }
    letter-spacing: 1.5px;
    margin: 0;
}

.background {
    background-color: $background;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    
    @media only screen and (min-width: 1025px) {
        overflow-y: hidden;
        position: static;
        margin: 25px 0;
    }
}

.game_title {
    -ms-flex-item-align: center;
        align-self: center;
    margin: {
        top: 0;
        bottom: 0; 
    }
    color: $white;
    text-decoration: none;
    font-size: 1.75em;
}

.title_underline {
    width: 220px;
    height: 1px;
    margin: {
        top: 15px;
        bottom: 25px;
    }
    border: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(177, 177, 177, 0.85), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(177, 177, 177, 0.85), rgba(0, 0, 0, 0));
}

/* For sign-in, sign-up, index, create-room, game-menu and add-players pages */
.nav {
    @include flex_column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    padding: {
        top: 25px;
        bottom: 25px;
    }
    
    @media only screen and (min-width: 1025px) {
        width: 360px;
        margin-top: 0;
    }
}

.separator {
    color: $white;
}

.info {
    color: $white;
    max-width: 250px;
    text-align: center;
    margin: 0 0 25px 0;
}

.error {
    color: $red;
    font: {
        size: 0.875em;
        weight: bold;
    }
    text-align: center;
    max-width: 360px;
    margin: {
        top: 0;
        bottom: 15px;
    }
}

/* add-players page */       
.player {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 35px;
    width: 90%;
    max-width: 360px;
    padding: 0 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    color: $white;
    background-color: $blue;
            
    & button {
        @extend .icon_btn;
    }
                
    & .icon_btn {
        margin-bottom: 0;
    }
    
    &:last-of-type {
        margin-bottom: 30px;
    }
}

@each $name, $color in $player_colors {
    /* Create id selectors for each color for game-multi and add-players pages */
    ##{$name} {
        background-color: $color;
    }
}

/* Common styles for game-single and game-multi */
.game {
    @include flex_column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    padding: {
        top: 25px;
        bottom: 25px;
    }
    color: $white;
    
    @media only screen and (min-width: 1025px) {
        position: relative;
    }
}
    
.row.one,
.row.two {
    width: 90%;
}

.row.two {
    @include flex_column;
}

.game_header {
    @include flex_column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    font-weight: bold;
            
    h2 {
        margin: {
            top: 0;
            bottom: 0;
        }
    }
}

.row > .game_progress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.game_progress_row {
    @include flex_row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end;
    height: 50px;
    margin-bottom: 25px;
            
    p {
        margin: 0;
        color: $blue;
    }
}
            
.progress_bar {
    height: 5px;
    width: 100%;
    background-color: $white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
                
    .progressed {
        height: 100%;
        width: 100px;
        background-color: $orange;
    }
                
    // generate classes for progress bar to emulate it progressing with each question/round
    @for $question_num from 1 through 20 {
        .question#{$question_num} { 
            width: 5% * $question_num; 
        }
    }
    
    @for $round_num from 1 through 5 {
        .round#{$round_num} { 
            width: 20% * $round_num; 
        }
    }
}

.game_score {
    @include flex_row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

img {
    max-width: 90%;
            
    @media only screen and (min-width: 1025px) {
        max-height: 50vh;
    }
}
    
.answer_field {
    max-width: 100%;
    margin: 25px 0;
    box-shadow: none;
}
        
.game_buttons {
    @include flex_row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
    border: none;
    font: {
        weight: bold;
        size: 1.25em; 
    }
}

.row.two > .incorrect_answers {
    @include flex_column;
}
        
.incorrect_answers {
    -ms-flex-item-align: center;
        align-self: center;
    word-break: break-all;
            
    .heading {
        margin-bottom: 10px;
        font-size: 1.125em;
        color: $red;
    }
            
    .answer {
        margin: 0;
        margin-bottom: 15px;
        max-width: 280px;
        text-align: center;
    }
}

@each $name, $color in $player_colors {
    /* Generate id selectors for different colors for game-multi page */
    ##{$name}_text {
        color: $color;
    }
}

#white_text {
    color: $white;
}

.game_progress_row .players {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}

.game_progress_row .players > .player_block {
    width: 20%;
    height: 30px;
    margin-left: 10px;
    
    &:first-child {
        margin-left: 0;
    }
}

#not_active {
    background-color: $white;
}

/* game-multi specific styles */
.multi {
    > .win_window {
        background-color: transparent;
        
        @media only screen and (orientation: portrait) {
            display: none;
        }
        
        @media only screen and (orientation: landscape) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
        
        @media only screen and (min-width: 640px) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
        @media only screen and (min-width: 1025px) {
            -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            position: inherit;
            width: 700px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            margin: {
                top: -25px;
                bottom: -15px;
            }
        }
    }
    & ~ p {
        @media only screen and (orientation: portrait) {
            display: inherit;
            color: $white;
            text-align: center;
            width: 90%;
            position: absolute;
            top: 5%;
            left: 5%;
            right: 0;
            bottom: 0;
            background: {
                image: url(http://cdn.3dvista.com/kolter-plan-b/media/rotate.gif);
                size: contain;
                repeat: no-repeat;
                position-y: 50%;
            }
        }
        
        @media only screen and (orientation: landscape) {
            display: none;
        }
        
        @media only screen and (min-width: 640px) {  
            display: none;
        }
    }
}

/* Styles for window shown after a game has been completed
   For game-multi and leaderboard-single
*/
.win_window {
    @include flex_column;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    background-color: $background;
    
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    }
    p:first-child {
        font-size: 1.375em;
        margin: 0;
        
        @media only screen and (min-width: 640px) {
            font-size: 1.75em;
        } 
    }
}
        
.buttons {
    @include flex_column;
    margin-top: 20px;
    max-width: 360px;
}

/* leaderboard-single styles */
.leaderboard {
    @media only screen and (orientation: portrait) {
        display: none;
    }
    
    @media only screen and (orientation: landscape) {
        @include leaderboard_orientation_size;
    }
    
    @media only screen and (min-width: 640px) {
        @include leaderboard_orientation_size;
    }
    
    @media only screen and (min-width: 1025px) {
        width: 700px;
        position: relative;
        padding: 25px;
    }
    
    .win_window .container {
        width: 500px;
        @include flex_column;
        -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
        top: 50%;
        
        @media only screen and (min-width: 640px) and (orientation: portrait) {
            top: 20%;
        }
        
        @media only screen and (min-width: 1025px) {
            top: 20%;
        }
    }
    
    & ~ p {
        @media only screen and (orientation: portrait) {
            display: inherit;
            color: $white;
            text-align: center;
            width: 90%;
            position: absolute;
            top: 5%;
            left: 5%;
            right: 0;
            bottom: 0;
            background: {
                image: url(http://cdn.3dvista.com/kolter-plan-b/media/rotate.gif);
                size: contain;
                repeat: no-repeat;
                position-y: 50%;
            }
        }
        
        @media only screen and (orientation: landscape) {
            display: none;
        }
        
        @media only screen and (min-width: 640px) {  
            display: none;
        }
    }
    
    h2 {
        text-align: center;
        margin: 0;
    }
    
    & > p {
        text-align: center;
        font-weight: normal;
    }
}

.leaderboard_header {
    @include flex_row;
    height: 35px;
    font-weight: bold;
    color: $background;
    background-color: $white;
    border-bottom: 2px solid $border;
}
    
.col {
    @include flex_row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
        
    &.one {
        min-width: 60px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    }
        
    &.two {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 20px;
        border-left: 2px solid $border;
    }
        
    &.three {
        min-width: 70px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        border-left: 2px solid $border;
    }
    
    &.four {
        min-width: 100px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        border-left: 2px solid $border;
    }
}
    
.player_field {
    @include flex_row;
    height: 35px;
    color: $white;
    background-color: transparent;
    border-bottom: 2px solid $border;
        
    &.last {
        border: none;
    }
    
    &.highlight {
        color: $white;
        background-color: $highlight;
    }
}

/* Leaderboard styles for game-multi */
.game > .win_window {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    z-index: 1;
    
    .leaderboard_header {
        width: 90%;
        margin-bottom: 3px;
        border: none;
        background-color: transparent;
        
        & > .col {
            border: none;
            background-color: $white;
        }
        
        & > .col.two,
        & > .col.three,
        & > .col.four {
            margin-left: 3px;
        }
        
        & > .col > p {
            font-size: 1em;
            font-weight: bold;
        }
    }
    
    .player_field {
        width: 90%;
        margin-bottom: 3px;
        border: none;
        
        & > .col {
            border: none;
        }
        
        & > .col.two,
        & > .col.three,
        & > .col.four {
            margin-left: 3px;
        }
        
        & > .col > p {
            font-size: 1em;
        }
    }
}

@each $name, $color in $player_colors {
    /* generate classes for game-multi leaderboard players */
    .#{$name} {
        background-color: $color;
    }
}





